# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

backend/.docker-data
.DS_Store
.idea
.cursor
.cursorignore
.env.dev

*.cache
.ruff_cache
.docker-data
*.log*
.idea/
.venv

.terraform
